<h1>Users</h1>
<ol>
<% @users.each do |user| %>
  <li><%= user.screen_name %></li>
<% end %>

<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        
</ol>
